In [1]:
import numpy as np
import pandas as pd
import pprint

In [2]:
url="Heart_disease_statlog.csv"
names=['age','sex','cp','trestbps','chol','fbs','restecg','thalach','exang','oldpeak','slope','ca','thal','target']
dataset = pd.read_csv(url,header=1, names=names)

In [14]:
dataset.describe

<bound method NDFrame.describe of      age  sex  cp  trestbps  chol  fbs  restecg  thalach  exang  oldpeak  \
0     67    0   2       115   564    0        2      160      0      1.6
1     57    1   1       124   261    0        0      141      0      0.3
2     64    1   3       128   263    0        0      105      1      0.2
3     74    0   1       120   269    0        2      121      1      0.2
4     65    1   3       120   177    0        0      140      0      0.4
..   ...  ...  ..       ...   ...  ...      ...      ...    ...      ...
264   52    1   2       172   199    1        0      162      0      0.5
265   44    1   1       120   263    0        0      173      0      0.0
266   56    0   1       140   294    0        2      153      0      1.3
267   57    1   3       140   192    0        0      148      0      0.4
268   67    1   3       160   286    0        2      108      1      1.5

     slope  ca  thal  target
0        1   0     3       0
1        0   0     3       1
2        1   1     3       0
3        0   1     1       0
4        0   0     3       0
..     ...  ..   ...     ...
264      0   0     3       0
265      0   0     3       0
266      1   0     1       0
267      1   0     2       0
268      1   3     1       1

[269 rows x 14 columns]>

In [5]:
dataset.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,67,0,2,115,564,0,2,160,0,1.6,1,0,3,0
1,57,1,1,124,261,0,0,141,0,0.3,0,0,3,1
2,64,1,3,128,263,0,0,105,1,0.2,1,1,3,0
3,74,0,1,120,269,0,2,121,1,0.2,0,1,1,0
4,65,1,3,120,177,0,0,140,0,0.4,0,0,3,0

In [7]:
x = dataset.drop('target',1) #type:ignore
y = dataset['target']

C:\Users\Kaushik\AppData\Local\Temp\ipykernel_16316\920227641.py:1: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.
  x = dataset.drop('target',1) #type:ignore

In [12]:
x

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal
0,67,0,2,115,564,0,2,160,0,1.6,1,0,3
1,57,1,1,124,261,0,0,141,0,0.3,0,0,3
2,64,1,3,128,263,0,0,105,1,0.2,1,1,3
3,74,0,1,120,269,0,2,121,1,0.2,0,1,1
4,65,1,3,120,177,0,0,140,0,0.4,0,0,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...
264,52,1,2,172,199,1,0,162,0,0.5,0,0,3
265,44,1,1,120,263,0,0,173,0,0.0,0,0,3
266,56,0,1,140,294,0,2,153,0,1.3,1,0,1
267,57,1,3,140,192,0,0,148,0,0.4,1,0,2
268,67,1,3,160,286,0,2,108,1,1.5,1,3,1

In [10]:
x.shape

(269, 13)

In [13]:
y

0      0
1      1
2      0
3      0
4      0
      ..
264    0
265    0
266    0
267    0
268    1
Name: target, Length: 269, dtype: int64

In [11]:
y.shape

(269,)

In [2]:
# Splitting the dataset into the Training set and Test set
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X_train, y, test_size=0.1, random_state=0)

NameError: name 'X' is not defined